#fcwp_button {
	float: right;	
	margin: 1px 2px;
	font-size: 11px;
	text-decoration: none;
	border: none;
	background-color: #D8DCDC;
	border-radius: 2px;
	padding: 5px 15px;
}

#fcwp_button:hover {
	background-color: #0073aa;
	color: #fff;
}