/* popup_box DIV-Styles*/
#fcwp_popupDiv { 
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:auto;  
    max-height: 500px;
    width:50%;  
    background:#F0F0FF;  
    left: 25%;
    top: 15%;
    z-index:99999; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
    overflow-y: auto;
    
    /* additional features, can be omitted */
    border:2px solid #D1E0E0;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #D1E0E0;
    -webkit-box-shadow: 0 0 5px #D1E0E0;
    box-shadow: 0 0 5px #D1E0E0;
    /*background-color: #aaaaaa;*/
}

#fcwp_container {
    background: #d2d2d2; /*Sample*/
    width:100%;
    height:100%;
}

/* This is for the positioning of the Close Link */
#fcwp_popupBoxClose {
	cursor: pointer;  
	text-decoration:none; 
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#ff0000;  
    font-weight:500;
}
#fcwp_embedCode {
	height: 200px;
	width: 400px;
	background-color: white;
}

#fcwp_step1 h1 {
	font-size: 1.3em;
}


#fcwp_popupDiv  .fcwp_form-group {
	width: 100%;
	margin-bottom: 15px;
	
}

#fcwp_popupDiv .fcwp_row {
	width: 100%;
	margin: 0 -10px;
}

#fcwp_popupDiv .fcwp_row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


#fcwp_popupDiv .fcwp_grid-1, #fcwp_popupDiv .fcwp_grid-2 {
	box-sizing: border-box;
	padding: 0 10px; 
	float: left;
}

#fcwp_popupDiv .fcwp_grid-1 {
	width: 100%;
}

#fcwp_popupDiv .fcwp_grid-2 {
	width: 50%;
}


#fcwp_popupDiv  .fcwp_form-group  label {
	width: 100%;
	display: block;
	box-sizing: border-box;
	font-size: 12px;
	text-transform: uppercase;
	color: #9D9D9F;
}

#fcwp_popupDiv  .fcwp_form-group  input, #fcwp_popupDiv  .fcwp_form-group  select {
	width: 100%;
	box-sizing: border-box;
	color: #737373;
}

#showChartData {
	margin-top: 10px;
}

#fcwp_popupDiv textarea {
	width: 100%;
	height: 150px;
	color: #737373;
}

#fcwp_popupDiv button, #fcwp_popupDiv button:visited {
	font-size: 12px;
	text-transform: uppercase;
	background-color: #2B0056;
	color: #fff;
	border: 1px solid #27004D;
	border-radius: 2px;
	padding:8px 15px;
	cursor: pointer;
}

#fcwp_popupDiv button:hover, #fcwp_popupDiv button:active, #fcwp_popupDiv button:focus  {
	background-color: #401967;
	border: 1px solid #3D195F;
}


#fcwp_popupDiv  p {
	font-size: 12px;
	color: #9D9D9F;
}


@media (max-width: 1024px) {
  #fcwp_popupDiv .fcwp_grid-2 {
    width: 100%;
  }
}
